# Constitution d'une base adresse à partir de fichiers DVF
- Adresse complète
- Code commune INSEE
- Code IRIS (code quartier de l'INSEE)
- Coordonnées GPS de la commune
- Coorodnnées GPS de l'adresse

## Lecture du fichier DVF

In [1]:
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [2]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import json
import requests
import time

In [3]:
# Fichier(s) à traiter
year = '2020'
filename = 'databases/valeursfoncieres-' + year + '.txt'

In [4]:
# Chargement du jeu de données
df = pd.read_csv(filename,sep="|",decimal=",")
df.head()

C:\Users\olivier\anaconda\envs\Geo\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (14,18,23,24,26,28,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1061.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,85.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1115.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1940.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1148.0

In [5]:
print(df.columns)

Index(['Code service CH', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

## Cleaning des adresses et export

In [6]:
# Manipulations sur les codes départements et codes communes
df['Code postal'] = df['Code postal'].fillna(-1).astype(int).astype(str).replace('-1', np.nan)
df['Code departement'] = df['Code departement'].apply(lambda x: str(x).zfill(2) if len(str(x)) == 1 else x)
df['Code commune'] = df['Code commune'].apply(lambda x: str(x).zfill(3) if len(str(x)) < 3 else x)
df['Code commune INSEE'] = df['Code departement'].astype(str) + df['Code commune'].astype(str)

# Création d'un champ "Ville" pour interroger les coordonnées GPS lorsque le champ Adresse ne donne rien
df['Ville'] = df['Code postal'] + " " + df['Commune']

df.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,Code commune INSEE,Ville
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2020,Vente,...,NaN,NaN,NaN,NaN,NaN,T,NaN,1061.0,01072,1250 CEYZERIAT
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,NaN,NaN,NaN,NaN,BT,NaN,85.0,01203,1290 LAIZ
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,NaN,NaN,NaN,NaN,T,NaN,1115.0,01203,1290 LAIZ
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,NaN,NaN,NaN,NaN,T,NaN,1940.0,01203,1290 LAIZ
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,NaN,NaN,NaN,NaN,T,NaN,1148.0,01203,1290 LAIZ

In [7]:
# On formate les adresses
def escapeNan(row):
    val = str(row)
    if val == "nan":
        val = " "
    else:
        val = val.replace('.0','') # if from float values
        val = val + " "
    return val

In [8]:
# Modification des communes avec arrondissements
df['Commune'] = df['Commune'].replace(['MARSEILLE 1ER', 'MARSEILLE 2EME', 'MARSEILLE 3EME', 'MARSEILLE 4EME',
                                           'MARSEILLE 5EME', 'MARSEILLE 6EME', 'MARSEILLE 7EME', 'MARSEILLE 8EME',
                                           'MARSEILLE 9EME', 'MARSEILLE 10EME', 'MARSEILLE 11EME', 'MARSEILLE 12EME',
                                           'MARSEILLE 13EME', 'MARSEILLE 14EME', 'MARSEILLE 15EME', 'MARSEILLE 16EME',
                                           'LYON 1ER', 'LYON 2EME', 'LYON 3EME', 'LYON 4EME', 'LYON 5EME',
                                           'LYON 6EME', 'LYON 7EME', 'LYON 8EME', 'LYON 9EME',
                                           'PARIS 01', 'PARIS 02', 'PARIS 03', 'PARIS 04', 'PARIS 05', 'PARIS 06',
                                           'PARIS 07', 'PARIS 08', 'PARIS 09', 'PARIS 10', 'PARIS 11', 'PARIS 12',
                                           'PARIS 13', 'PARIS 14', 'PARIS 15', 'PARIS 16', 'PARIS 17', 'PARIS 18',
                                           'PARIS 19', 'PARIS 20'],
                                          ['MARSEILLE', 'MARSEILLE', 'MARSEILLE', 'MARSEILLE',
                                          'MARSEILLE', 'MARSEILLE', 'MARSEILLE', 'MARSEILLE',
                                          'MARSEILLE', 'MARSEILLE', 'MARSEILLE', 'MARSEILLE',
                                          'MARSEILLE', 'MARSEILLE', 'MARSEILLE', 'MARSEILLE',
                                          'LYON', 'LYON', 'LYON', 'LYON', 'LYON',
                                          'LYON', 'LYON', 'LYON', 'LYON',
                                          'PARIS', 'PARIS', 'PARIS', 'PARIS', 'PARIS', 'PARIS',
                                          'PARIS', 'PARIS', 'PARIS', 'PARIS', 'PARIS', 'PARIS',
                                          'PARIS', 'PARIS', 'PARIS', 'PARIS', 'PARIS', 'PARIS',
                                          'PARIS', 'PARIS'])

In [9]:
# Ajout d'apostrophes après L et D pour une meilleure reconnaissance des noms de rues
df['Voie'] = df['Voie'].replace([' L ', ' D '], [' L\'', ' D\''], regex = True)

In [10]:
# Création du champ "addressName" qui sera utilisée dans la requête API
df['Adresse'] = df.apply(lambda row: 
    escapeNan(row['No voie'])
    + escapeNan(row['Type de voie'])         
    + escapeNan(row['Voie'])
    + escapeNan(row['Code postal']).zfill(5) # pour respecter le format des codes postaux
    + str(row['Commune'])
    , axis = 1).str.strip()

In [11]:
df['Ville'] = df['Ville'].replace('-', ' ', regex=True).astype(str)
df.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,Code commune INSEE,Ville,Adresse
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2020,Vente,...,NaN,NaN,NaN,NaN,T,NaN,1061.0,01072,1250 CEYZERIAT,FORTUNAT 1250 CEYZERIAT
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,NaN,NaN,NaN,BT,NaN,85.0,01203,1290 LAIZ,TERRES DES CINQ SAULES 1290 LAIZ
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,NaN,NaN,NaN,T,NaN,1115.0,01203,1290 LAIZ,BOIS DU CHAMP RION 1290 LAIZ
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,NaN,NaN,NaN,T,NaN,1940.0,01203,1290 LAIZ,EN COROBERT 1290 LAIZ
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,02/01/2020,Vente,...,NaN,NaN,NaN,NaN,T,NaN,1148.0,01203,1290 LAIZ,TERRES DES CINQ SAULES 1290 LAIZ

In [12]:
# Extract des adresses
ad = df[['No voie', 'Type de voie', 'Voie', 'Code postal', 'Commune', 'Code departement', 'Code commune INSEE', 'Ville', 'Adresse']]
ad.shape

(2459560, 9)

In [13]:
# On supprime les adresses dupliquées pour éviter d'interroger les API plusieurs fois avec exactement la même adresse
ad = ad.drop_duplicates()
ad.shape

(1059387, 9)

### Export des adresses

In [44]:
ad.to_csv('01A - export_dvf_adresses_' + year + '.csv')

## Filter DVF

In [14]:
##Import des données
dep_reg = pd.read_csv("databases/departements-region.csv",sep=",")
communes_littorales = pd.read_csv("databases/communes_littorales_2019.csv", sep=";")

In [15]:
df.shape

(2459560, 46)

In [16]:
##DVF

#filtres
df = df[(df["Type local"] == "Appartement") | (df["Type local"] == "Maison")]
df = df[df["Nature mutation"] == "Vente"]

In [17]:
df.shape

(923067, 46)

A noter qu'on supprime de nombreuses lignes, car plus d'1M de lignes sont de type local = NA (à creuser ?)

In [18]:
df['Type local'].value_counts()

Maison         526507
Appartement    396560
Name: Type local, dtype: int64

In [19]:
# Colonnes inutiles
df.drop(["Code service CH","Reference document","1 Articles CGI",
              "2 Articles CGI","3 Articles CGI","4 Articles CGI",
              "5 Articles CGI"], axis = 1, inplace = True)

# Suppression des lignes dublons
df.drop_duplicates(subset = None, inplace = True)
df = df.drop_duplicates(subset = ["Date mutation","Valeur fonciere","Code postal"], keep = False)

df.shape

(610668, 39)

In [20]:
# Gestion des arrondissements de Paris, Lyon et Marseille
df["Commune2"] = df["Commune"]
dico = {"Commune2":{"PARIS 01":"PARIS","PARIS 02":"PARIS",
                              "PARIS 03":"PARIS",
                              "PARIS 04":"PARIS",
                              "PARIS 05":"PARIS",
                              "PARIS 06":"PARIS",
                              "PARIS 07":"PARIS",
                              "PARIS 08":"PARIS",
                              "PARIS 09":"PARIS",
                              "PARIS 10":"PARIS",
                              "PARIS 11":"PARIS",
                              "PARIS 12":"PARIS",
                              "PARIS 13":"PARIS",
                              "PARIS 14":"PARIS",
                              "PARIS 15":"PARIS",
                              "PARIS 16":"PARIS",
                              "PARIS 17":"PARIS",
                              "PARIS 18":"PARIS",
                              "PARIS 19":"PARIS",
                              "PARIS 20":"PARIS",
                              "MARSEILLE 1ER":"MARSEILLE",
                              "MARSEILLE 2EME":"MARSEILLE",
                              "MARSEILLE 3EME":"MARSEILLE",
                              "MARSEILLE 4EME":"MARSEILLE",
                              "MARSEILLE 5EME":"MARSEILLE",
                              "MARSEILLE 6EME":"MARSEILLE",
                              "MARSEILLE 7EME":"MARSEILLE",
                              "MARSEILLE 8EME":"MARSEILLE",
                              "MARSEILLE 9EME":"MARSEILLE",
                              "MARSEILLE 10EME":"MARSEILLE",
                              "MARSEILLE 11EME":"MARSEILLE",
                              "MARSEILLE 12EME":"MARSEILLE",
                              "MARSEILLE 13EME":"MARSEILLE",
                              "MARSEILLE 14EME":"MARSEILLE",
                              "MARSEILLE 15EME":"MARSEILLE",
                              "LYON 1ER":"LYON",
                              "LYON 2EME":"LYON",
                              "LYON 2EME":"LYON",
                              "LYON 3EME":"LYON",
                              "LYON 4EME":"LYON",
                              "LYON 5EME":"LYON",
                              "LYON 6EME":"LYON",
                              "LYON 7EME":"LYON",
                              "LYON 8EME":"LYON",
                              "LYON 9EME":"LYON"}}
df = df.replace(dico)
del dico

In [21]:
df["Prix m2"] = df["Valeur fonciere"]/df["Surface reelle bati"]
df["Paris"]= df["Commune2"].apply(lambda x : 1 if x == "PARIS" else 0)
Paris = df[df["Paris"]==1]
Autre_villes = df[df["Paris"]==0]

In [22]:
# Gestion des valeurs abberantes Paris
outliers_max_Paris = Paris["Valeur fonciere"].quantile(0.97)
outliers_min_Paris = Paris["Valeur fonciere"].quantile(0.05)
outliers_max_Paris_surface = Paris["Surface reelle bati"].quantile(0.99)
outliers_min_Paris_surface = Paris["Surface reelle bati"].quantile(0.01)
outliers_max_Paris_prix_m2= Paris["Prix m2"].quantile(0.98)
outliers_min_Paris_prix_m2 = Paris["Prix m2"].quantile(0.1)

Paris = Paris[(Paris["Valeur fonciere"] < outliers_max_Paris) & 
              (Paris["Valeur fonciere"] > outliers_min_Paris) &
              (Paris["Surface reelle bati"] < outliers_max_Paris_surface) &
              (Paris["Surface reelle bati"] > outliers_min_Paris_surface) &
              (Paris["Prix m2"] < outliers_max_Paris_prix_m2) &
              (Paris["Prix m2"] > outliers_min_Paris_prix_m2) ]

print(outliers_max_Paris)
print(outliers_min_Paris)
print(outliers_max_Paris_surface)
print(outliers_min_Paris_surface)
print(outliers_max_Paris_prix_m2)
print(outliers_min_Paris_prix_m2)

del outliers_max_Paris, outliers_min_Paris, outliers_max_Paris_surface, outliers_min_Paris_surface
del outliers_max_Paris_prix_m2, outliers_min_Paris_prix_m2

2023354.9999999958
109000.0
210.0
9.0
20769.23076923077
7222.222222222223

In [23]:
# Gestion des valeurs abberantes des villes autre que Paris
outliers_max_Autre_villes = Autre_villes["Valeur fonciere"].quantile(0.996)
outliers_min_Autre_villes = Autre_villes["Valeur fonciere"].quantile(0.05)
outliers_max_Autre_villes_surface = Autre_villes["Surface reelle bati"].quantile(0.999)
outliers_min_Autre_villes_surface = Autre_villes["Surface reelle bati"].quantile(0.0005)
outliers_max_Autre_villes_prix_m2= Autre_villes["Prix m2"].quantile(0.998)
outliers_min_Autre_villes_prix_m2 = Autre_villes["Prix m2"].quantile(0.125)

Autre_villes = Autre_villes[(Autre_villes["Valeur fonciere"] < outliers_max_Autre_villes) & 
              (Autre_villes["Valeur fonciere"] > outliers_min_Autre_villes) &
              (Autre_villes["Surface reelle bati"] < outliers_max_Autre_villes_surface) &
              (Autre_villes["Surface reelle bati"] > outliers_min_Autre_villes_surface) &
              (Autre_villes["Prix m2"] < outliers_max_Autre_villes_prix_m2) &
              (Autre_villes["Prix m2"] > outliers_min_Autre_villes_prix_m2) ]

print(outliers_max_Autre_villes)
print(outliers_min_Autre_villes)
print(outliers_max_Autre_villes_surface)
print(outliers_min_Autre_villes_surface)
print(outliers_max_Autre_villes_prix_m2)
print(outliers_min_Autre_villes_prix_m2)

del outliers_max_Autre_villes, outliers_min_Autre_villes, outliers_max_Autre_villes_surface
del outliers_min_Autre_villes_surface, outliers_max_Autre_villes_prix_m2, outliers_min_Autre_villes_prix_m2

1170559.799999965
42500.0
333.0
10.0
14500.684500000638
994.3181818181819

In [24]:
df_clean = pd.concat([Paris,Autre_villes], axis = 0)
del Paris, Autre_villes

In [25]:
##Ajout des régions via le code département
dep_reg = dep_reg.rename(columns = {"num_dep":"Code departement"})
dico2 = {"Code departement":{"2A":"201","2B":"202"}}
dep_reg = dep_reg.replace(dico2)
dep_reg["Code departement"] = dep_reg["Code departement"].astype('int32')
df_clean = df_clean.replace(dico2)
df_clean["Code departement"] = df_clean["Code departement"].astype('int32')
df_clean = df_clean.merge(right = dep_reg , on = 'Code departement', how = 'left')
df_clean = df_clean[(df_clean["Code departement"] != 201) & (df_clean["Code departement"] != 202)]

In [26]:
## Ajout des communes possédant une surface maritime
communes_littorales = communes_littorales.drop_duplicates(keep ="first")
df_clean = df_clean.merge(right = communes_littorales , on = 'Commune', how = 'left')
dummies = pd.get_dummies(df_clean["Classement"])
df_clean = pd.concat([df_clean, dummies],axis =1)
df_clean["Mer"] = df_clean["Mer"] .astype("object")
dico3 = {"Mer":{"1":"OUI","0":"NON"}}
df_clean = df_clean.replace(dico3)
df_clean.drop("Classement", axis = 1, inplace = True)

del communes_littorales, dep_reg, dico2, dico3, dummies

In [27]:
df_clean.shape

(523639, 45)

In [29]:
df_clean.groupby(['Code departement', 'Type local'])['Prix m2'].mean().to_csv('prix m2 par dep.csv')

In [30]:
df_clean.to_csv("01B - dvf_sans_gps_iris_" + year + ".csv")